body {
	margin: 0;
	background-color: #F5D60C;
}

h1 {
	color: #423B33;
	

}

.head {
	margin: 0;
	height: 20px;
	width: 300px;
	float: top;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	background-color: #3AA0C2;
	margin: 5px;
	padding: 5px 10px;
	color: white;
 	border-radius: 10px 5px;
 	box-shadow: 10px 15px 5px #888888;
 }

 ul li a {
 	text-decoration: none;
 	
 }

ul li a:hover {
	color: #B9D5FA;

}

@media screen and (max-width: 480px) {
    nav ul li {
        width: 816; 
        background-color: white;
    }
    iframe {
    	width: 80%;
    }
    .mario {
    	width: 816;
    }
    

}


